<h1 align="center"><b>FEATURED DESTINATIONS</b></h1>
<br><br><br>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-12 col-sm-6 col-md-3 col-lg-3 col-xl-4 col-xxl-4">
                    <div style="background-color:aqua" class="card">
                        <img height="250px"src="https://www.teahub.io/photos/full/177-1773461_dubai-night-wallpaper-4k.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title"><b>DUBAI</b></h5>
                          <br>
                          <a href="#" class="btn btn-dark"><b>VIEW</b></a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-3 col-lg-3 col-xl-4 col-xxl-4">
                    <div style="background-color:hotpink" class="card">
                        <img height="250px"src="https://live.staticflickr.com/1822/42966701221_533cb2d7c1_b.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title"><b>LADAKH</b></h5>
                          <br>
                          <a href="#" class="btn btn-dark"><b>VIEW</b></a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-3 col-lg-3 col-xl-4 col-xxl-4">
                    <div style="background-color:yellow" class="card">
                        <img height="250px"src="https://airpano.ru/files/360video/video-northern-lights-norway/images/image2.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title"><b>NORWAY</b></h5>
                          <br> 
                         <a href="#" class="btn btn-dark"><b>VIEW</b></a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-3 col-lg-3 col-xl-4 col-xxl-4">
                    <div style="background-color:rgb(194, 252, 194)" class="card">
                        <img height="250px"src="https://p1.pxfuel.com/preview/384/396/855/riyadh-saudi-arabia-city-night.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title"><b>RIYADH, KSA</b></h5>
                          <br>
                          <a href="#" class="btn btn-dark"><b>VIEW</b></a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-3 col-lg-3 col-xl-4 col-xxl-4">
                    <div style="background-color:tomato" class="card">
                        <img height="250px"src="https://media.istockphoto.com/photos/london-at-sunset-picture-id1347665170?b=1&k=20&m=1347665170&s=170667a&w=0&h=615t7gGps6LJzoCOAhsszeM21tUYnZ-G1zkrMwpXXew=" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title"><b>LONDON</b></h5>
                          <br>
                          <a href="#" class="btn btn-dark"><b>VIEW</b></a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-3 col-lg-3 col-xl-4 col-xxl-4">
                    <div style="background-color:dodgerblue" class="card">
                        <img height="250px"src="https://wallpaperaccess.com/full/219778.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title"><b>GREECE</b></h5>
                          <br>
                          <a href="#" class="btn btn-dark"><b>VIEW</b></a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-3 col-lg-3 col-xl-4 col-xxl-4">
                    <div style="background-color:fuchsia" class="card">
                        <img height="250px"src="https://cutewallpaper.org/21/tahiti-wallpaper/Places-Wallpaper-140.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title"><b>TAHITI</b></h5>
                          <br>
                          <a href="#" class="btn btn-dark"><b>VIEW</b></a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-3 col-lg-3 col-xl-4 col-xxl-4">
                    <div style="background-color:greenyellow" class="card">
                        <img height="250px"src="https://www.teahub.io/photos/full/1-12681_wiki-switzerland-alps-beautiful-landscape-wallpaper-high-resolution.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title"><b>SWITZERLAND</b></h5>
                          <br>
                          <a href="#" class="btn btn-dark"><b>VIEW</b></a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-3 col-lg-3 col-xl-4 col-xxl-4">
                    <div style="background-color:rgb(93, 87, 255)" class="card">
                        <img height="250px"src="https://images6.alphacoders.com/109/1092054.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title"><b>TOKYO, JAPAN</b></h5>
                          <br>
                          <a href="#" class="btn btn-dark"><b>VIEW</b></a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-3 col-lg-3 col-xl-4 col-xxl-4">
                    <div style="background-color:rgb(117, 225, 255)" class="card">
                        <img height="250px"src="https://free4kwallpapers.com/uploads/originals/2015/10/22/waterfall-in-iceland-wallpaper.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title"><b>ICELAND</b></h5>
                          <br>
                          <a href="#" class="btn btn-dark"><b>VIEW</b></a>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>

